@media (max-width:1024px){
    .container{
        max-width: 980px;
        padding: 0 15px;
    }
    .col-6{
        width: 100%;
        
    }
    
    
    .col-4{
        width: 100%;
       
    }
    header{
        padding: 45px 0;
    }
    .provide{
        margin-top: 20px;
    }
    h1{
        
    font-size: 35px;
    text-align: center;
    }
    p{
        font-size: 12px;
    }
    .Powerfull-p{
        font-size: 12px;
    }

    h2{
        text-align: center;
        font-size: 30px;
    }
    .explore{
        font-size: 12px;
    }
    .subscribe h2{
        text-align: unset;
    }
    .wrap-subscribe{
        padding: 20px 10px;
        align-items: center;
    }
    .wantanything{
        display: flex;
        gap: 0;
    }
    .wantanything p{
        text-align: center;
        font-size: 12px;
       
    }
    .contant{
        gap: 0;
        margin: 0;
    }
    
    .line-nav{
        display: flex;
        position: relative;
        width: 40%;
    }
    
    .line-nav:hover a {
        color: black;
        transition: 0.6s;
    }
    .wrap-treeline:hover .treeline{
        border-radius: 10px;
        transform: skew(150deg);
        transform-origin: left bottom;
        
    }
    .icons{
        
        font-size: 50px;
       
    }
    
    .anketa-opinion p{
        width: 80%;
        margin-right: 240px;
    }
    .wrap-anketa{
       display: flex;
       flex-direction: row;
        width: 100%;
        margin-top: 20px;
        height: 90%;
    }
    .anketa{
        width: 50%;
    }
    .box{
        align-items: center;
    }
     .wrap-toy{
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
     }
    .wrap-icons{
        width: 100%;
        align-items: center;
        height: 170px;
        padding: 30px;
        display: flex;
        
        flex-direction: row;
    }
    
    .chooseh2{
        width: 100%;
    }
    .p90{
        width: 50px;
    }
    .user{
        width: 50px;
    }
    .toy{
        margin: 0;
    }
    
    
    .wrap-subscribe{
        width: 100%;
    }
    
    .footer{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact{
        flex-direction: row;
        
    }
    .footer-lasles{
        display: none;
    }
    
    
    


}
@media (max-width:760px){
    .container{
        max-width: 680px;
        padding: 0 15px;
    }
    
    .contact{
        flex-direction: column;
        gap: 30px;

    }
    .footer{
        justify-content: flex-start;
    }
    
    .menu2{
        display: block;
    }
    .nav2{
        display: block;
        position: absolute;
        flex-direction: column;
        
        top: -15px;
        right:  400px;
    }
    .locate{
        margin: 0;
        padding: 0 80px;
    }
    .nav{
        display: none;
    }
    .icons{
        width: 100%;
    }
    .wrap-icons{
        height: 100%;
    }
    .icons-line::before,
    .icons-line::after{
        display: none;
    }
    .wrap-c4{
        gap: 150px;
    }

    .header{
        position: relative;
        justify-content: space-between;
        height: 100px;
    }
    .header-button{
        display: none;
    }
    .header-button2{
        display: block;
        position: absolute;
        top: 25px;
        right: 100px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 100px;
    }
    .header-button2 a{
        color: #fff;
        
    }
    .header-button2 .header-btn{
        color: #fff;
        border: 1px solid #fff;
        
    }
    .menu2:hover .nav2 a{
        color: #000;
        transition: 0.6s;
    }
    .menu2:hover  .header-btn{
        color: #000;
        border: 1px solid #F53855;
        transition: 0.6s;
        
    }
    .menu2:hover  .sing-in{
        color: #000;
        transition: 0.6s;
    }
    .hero{
        padding: 0;
    }
    section{
        padding: 0;
    }
    .anketa{
        width: 100%;
    }
    .wrap-anketa{
        height: 90%;
        align-items: flex-start;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;
           
        
    }
    .wrap-toy{
        flex-direction: column;
    }
    .choose{
        margin: 20px 0;
    }
    .letchoose{
        padding: 0 100px;
    }
    .img-laptop{
        width: 100%;
    }
    h1{
        font-size: 30px;
        line-height: 30px;
    }
    h2 {
        font-size: 20px;
    }
    .toy img{
        width: 100px;
        margin-top: 20px;
    }
    .Powerfull-p {
        font-size: 10px;
    }
    .wantanything p {
        
        
        padding: 0 30px;
    }
    .product-text{
        font-size: 12px;
        width: 100px;
    }
    .wrap-subscribe {
        
        display: flex;
        flex-direction: column;
    }
    .header-btn{
        width: 100px;
    }
    .span-vpn
    {
        display: unset;
    }
    .explore{
        text-align: center;
    }
}
@media (max-width:360px){
    .container{
        max-width: 300px;
        padding: 0 15px;
    }
    .wrap-toy{
        flex-wrap: wrap;
        
    }
    h1{
        font-size: 30px;
    }
    .span-features,
    .span-vpn{
        display: unset;
        
    }
    .letchoose,
    .locate{
        padding: 0;
    }
    .product{
        margin: 0;
    }
    .star2{
        margin: 0;
    }
    .arrow-btn {
        font-size: 15px;
        width: 40px;
        height: 40px;  
    }
    .arrow-btn span {
        font-size: 20px;
    }
    .arrow svg{
        width: 100px;
    }
    .likes{
        padding: 40px 0 0 0;
        margin: 0;
    }
    .free{
        text-align: center;
        height: 25px;
    }
    .col-6-button{
        margin-bottom: 20px;
    }
    .explore{
        font-size: 10px;
        line-height: 25px;
        padding: 0 30px;
    }
    .user{
        font-size: 12px;
    }
    .anketa-opinion p{
        width: 80%;
        margin:0px;
    }
}