* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: 'Rubik', sans-serif;

}

header {
    padding: 45px 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
}

.menu2 {
    display: none
}

.nav2 a {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 10px;
}

.treeline {
    background-color: #000;
    width: 50px;
    height: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #000;

}
.btn{
    width: 250px;
    margin-top: 10px;
}



.sing-in {
    font-size: 16px;
    margin-right: 10px;
}

.sing-in:hover {
    color: #F53855;
    transition: 0.6s;
}

.header-btn {
    Width: 150px;
    border: 1px solid #F53855;
    Height: 45px;
    background-color: #fff;
    border-radius: 50px;
}

.header-btn:hover {
    background-color: #F53855;
    color: #fff;
    transition: 0.6s;
}

/* here's style is header all of it */

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}
.col-4 {
    width: 33.33%;
    padding: 0 15px;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.hero {
    padding: 100px 0;
}
h1 {
    font-size: 50px;
    line-height: 70px;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    
}
.col-6-button {
    padding: 17px 65px;
    background-color: #fff;
    border-radius: 10px;

    color: #F53838;
    border: 1px solid #F53838;

}

.col-6-button:hover {
    background: #F53838;
    color: #fff;
    transition: 0.6s;
    box-shadow: 10px 10px 20px #F53838;
}
/* here's all of it hero */


.wrap-icons {

    height: 200px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(13, 16, 37, 0.2);

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.icons-line::before {
    display: block;
    content: '';
    background-image: url(../assets/Vector\ 14.svg);
    border: 2px solid #EEEFF2;

    background-size: 10px 10px;
    color: #000;
    background-color: #EEEFF2;
    width: 0px;
    height: 125.57px;
    margin-right: 30%;
}

.icons-line::after {
    display: block;
    content: '';
    background-image: url(../assets/Vector\ 14.svg);
    border: 2px solid #EEEFF2;

    background-size: 10px 10px;
    color: #000;
    background-color: #EEEFF2;
    width: 0px;
    height: 125.57px;
    margin-left: 30%;
}

.wrap-c4 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.two {
    display: flex;
    flex-direction: column;
}
.p90 {
    font-size: 25px;
    height: 25px;
}

.user {
    font-size: 20px;
    height: 30px;
}
.span-vpn{
    display: block;
    text-align: center;
}
.span-features{
    display: block;
}
















.wrap-icons {

    height: 200px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0px rgba(13, 16, 37, 0.2);

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.icons {
    width: 33.33%;
}

.powerfull {
    display: flex;
    flex-direction: row;

}

h2 {
    font-size: 35px;

}

.Powerfull-p {
    padding: 10px;
    
    height: 30px;
    font-size: 14px;
    line-height: 0px;
}

.wrap-star{
    display: flex;
    align-items: center;
    gap: 10px;
}



.person-laptop {
    padding: 100px 0;
}

.likes {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.extra-likes{
    padding-right: 100px;
}
.choose {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
    margin-bottom: 50px;
    align-items: center;
}





.global {
    width: 100%;
}

.letchoose {
    text-align: center;
    
   
}

.wrap-choose {
    background-color: #E5E5E5;

}

.wrap-toy {
    background-color: #fff;
    text-align: center;
    border: 2px solid #DDDDDD;
    align-items: center;
    gap: 10px;
    height: 100%;
    border-radius: 10px;
}
.wrap-toy:hover{
    border: 2px solid #F53838;
}
.free {
    width: 150px;
    height: 70px;
    text-align: center;
    align-items: center;
}

.likes2 {
    display: flex;
    justify-content: flex-start;

}

.img-sotiol img {
    object-fit: contain;
    width: 20%;
}

.wrap-free {
    margin: 20px 0 50px 0;

}

.toy {
    margin-top: 100px;
}

h3 {
    margin-top: 20px;
}

.Unlimited-p {
    text-align: start;
}
.contant{
    margin: 50px 0 0 108px;
}
.dollors9 {
    margin: 60px 0 50px 0;
}

.first-free {
    margin: 100px 0 50px 0;
}

.wrap-anketa {
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 30px;
    height: 100%;
}

.wrap-anketa:hover {
    border: 2px solid #F53838;
    transition: 0.3s;
}

.anketa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}





.star2 {
    margin-left: 40px;
}



.box-gap {
    gap: 20px;
    display: flex;
}

section {
    padding: 80px 0;
}

.arrow {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.wrap-btn {
    display: flex;
    gap: 15px;

}

.contact {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.arrow-btn {
    color: #F53838;
    border: 2px solid #F53838;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    background-color: transparent;

}

.arrow-btn:hover {
    color: #fff;
    background-color: #F53838;
    transition: 0.6s;
}

.wrap-arrow {
    position: relative;
}



.locate {
    text-align: center;
    margin-top: 20px;
   

}

footer {
    background-color: #F8F8F8;
    ;
}

.footer {
    display: flex;
    gap: 20%;
    padding: 220px 0 0 0;

    width: 100%;

}

.wrap-subscribe {
    position: absolute;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    margin-bottom: -175px;
    background-color: #fff;
    border: 1px solid #fff;
    z-index: 1;
    box-shadow: 4px 4px 8px 0px rgba(13, 16, 37, 0.2);
    width: 100%;
}

.fun {
    margin-top: 10px;
}

.link {
    display: flex;
}

.product-text {
   
    height: 40px;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    width: 150px;
}
.product{
   margin-right: 15px;
   width: 33%;
}
.product h4 {
    margin-bottom: 10px;
}

.wrap-product {
    display: flex;
    
}

.img-sotiol {
    display: flex;
    width: 100%;
    justify-content: center;
}
.subscribe{
    max-width: 370px;
}
